
@{
    ViewBag.Title = "Agroquimicos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid int" id="content-negocios">
    <div class="caption-int">
        <h1>Ofrecemos <br>soluciones<br>innovadoras</h1>
        <p>en el comercio nacional <br>e internacional de granos, <br>oleaginosas y subproductos <br>de valor agregado.</p>
    </div>


    <div class=" wow fadeInRight" data-wow-delay="0" data-wow-duration="2s" id="content">
        <div class="row height-100">
            @Html.Partial("_Menu_int")




            <div class="scroll-content" id="agroquimicos">
                <div class="row  display-flex">
                    <div class="col-subcontent negocios  wow fadeInRight" data-wow-delay="1s" data-wow-duration=".5s"><img src="~/Content/assets/img/icon-fertilizantes.png" class="img-responsive icon"></div>
                    <div class="col-content negocios wow fadeInRight" data-wow-delay=".5s" data-wow-duration=".5s">

                        <h2>#Fitosanitarios</h2>
                        <div class="block-content">

                            <p>
                                <strong>
                                    Brindamos productos y soluciones que ayudan a nuestros clientes a producir de la forma más eficiente, cuidando los recursos naturales y a las personas.
                                </strong>
                            </p><p>
                                Llegamos a nuestros clientes a través de una amplia cadena de distribución. Además, les brindamos asesoramiento técnico y las mejores condiciones comerciales a los agricultores y ganaderos.
                            </p>



                            <img src="~/Content/assets/img/pic-agroquimicos-1.jpg" class="pic">
                        </div>
                        <div class="block-content">
                            <div class="content-float"><h1 class="frase">Brindamos asesoramiento técnico y las mejores condiciones comerciales a los agricultores y ganaderos.</h1></div>
                            <img src="~/Content/assets/img/pic-agroquimicos-2.jpg">

                            <p>
                                <strong>Conocé nuestra completa línea Zamba de productos herbicidas, insecticidas y fungicidas en:</strong><br>
                                http://www.valorzamba.com.ar/
                            </p>
                            <p>
                                <strong>YouTube:</strong><br>
                                https://www.youtube.com/c/agriculturaconsciente
                            </p>

                            <img src="img/pic-fertilizantes-2.jpg">
                            <p>
                                <strong>Conocé más sobre nuestro portafolio de productos en</strong> http://www.cofcofertilizantes.com.ar
                            </p>
                            <p>
                                <strong>Facebook:</strong><br>
                                https://www.facebook.com/AgriculturaConsciente
                            </p>
                            <p>
                                <strong>YouTube:</strong><br>
                                https://www.youtube.com/c/agriculturaconsciente
                            </p>

                            <h1>Almacenamiento y despacho</h1>
                            <p>
                                En respuesta a las necesidades de nuestros clientes, invertimos continuamente en soluciones de tecnología
                                y logística.
                            </p>
                            <img src="~/Content/assets/img/pic-fertilizantes-3.jpg">
                            <p>
                                Contamos con tres puertos con almacenamiento propio en <strong>Puerto General San Martín, Timbués y en Puerto Quequén; y dos modernas terminales con alta capacidad de despacho: Terfe Río Paraná y Terfe Necochea.</strong>
                            </p>

                            <img src="~/Content/assets/img/pic-fertilizantes-4.jpg">
                            <p>
                                <strong>Contacto Comercial: </strong><br>
                                Oficina Buenos Aires: <br>
                                Teléfono: +5411 4468 8000<br>
                                Mail: nutrientes@cofcofertilizantes.com
                            </p>
                            <div class="sep"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
