
@{
    ViewBag.Title = "Cereales";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid int" id="content-negocios">
    <div class="caption-int">
        <h1>Ofrecemos <br>soluciones<br>innovadoras</h1>
        <p>en el comercio nacional <br>e internacional de granos, <br>oleaginosas y subproductos <br>de valor agregado.</p>
    </div>


    <div class=" wow fadeInRight" data-wow-delay="0" data-wow-duration="2s" id="content">
        <div class="row height-100">
            @Html.Partial("_Menu_int")

            <div class="scroll-content" id="cereales">
                <div class="row  display-flex">
                    <div class="col-subcontent negocios  wow fadeInRight" data-wow-delay="1s" data-wow-duration=".5s"><img src="~/Content/assets/img/icon-cereales.png" class="img-responsive icon"></div>
                    <div class="col-content negocios wow fadeInRight" data-wow-delay=".5s" data-wow-duration=".5s">

                        <h2>#CerealesYOleaginosas</h2>
                        <div class="block-content">
                            <p><strong>La división de Cereales y Oleaginosas se ocupa de la originación, almacenaje, producción, acondicionamiento, procesamiento y exportación de productos primarios y derivados.</strong></p>
                            <img src="~/Content/assets/img/pic-cereales-1.jpg" class="pic">
                            <p> Nuestra extensa red de originación incluye once plantas de acopio propias y tres plantas de molienda (soja y girasol), en donde se generan subproductos de valor agregado para mercados locales y externos y una planta de Biodiesel.</p>
                            <p>
                                Dirección PGSM: Av. Manuel Belgrano 813, S2202AIQ Puerto Gral. San Martin, Santa Fe.
                                Teléfono: 03476 42-9073
                            </p>
                            <p>
                                Dirección Timbués: Brigadier Estanislao López 8514, Timbúes, Santa Fe (2204).
                                Coordenadas: 32°36'31.88" S, 60°46'31.1" W
                                Teléfono: (03476) 686000
                            </p>
                            <p>
                                Contacto Comercial:
                                Oficina Buenos Aires: +5411 4468 8000
                                Oficina Rosario: (0341) 4091250 / 4232460 al 63 / 4404030 | (011) 6090-1698/99
                            </p>
                            <p>

                                Oficinas y Plantas de Acopio
                            </p>
                            <p>
                                Están ubicadas en regiones clave productivas de nuestro país. Allí, nuestros clientes encontrarán servicios de logística, almacenaje, asesoramiento comercial y provisión de insumos.
                            </p>
                            <p>
                                Nuestros acopios constituyen una plataforma sólida, transparente y ágil, que nos permite acercarnos a las necesidades de nuestros clientes.
                            </p>
                            <p>
                                <strong>Planta de Acopio Piquete Cabado</strong><br>
                                Dirección: Ruta Provincial 30 Km10, Piquete Cabado, Anta. Salta (4449).<br>
                                Coordenada: 24° 49´ 30.00¨S 64° 10´ 52.00¨O<br>
                                Conmutador: (03877) 4553999<br>
                                Contacto comercial: Alejo Lozano, alozano@cofcointernational.com(0387) <br>
                                Cel: 15 4553999
                            </p>
                            <p>
                                <strong>Planta de Acopio Las Varillas </strong><br>
                                Dirección: Ruta Provincial 13 Km. 134, Las Varillas, Córdoba (5940)<br>
                                Coordenada: 31° 54´40.67¨S 62° 37´49.89 O<br>
                                Teléfono: (03731) 2892004<br>
                                Contacto comercial: Leandro Barbieri, leandrobarbieri@cofcointernational.com <br>
                                Cel: (0351) 152892004
                            </p>
                            <p>
                                <strong>Planta de Acopio Guardia Escolta</strong><br>
                                Dirección: Ruta Nacional 98 Km. 212, Guardia Escolta, Santiago del Estero (3062)<br>
                                Coordenada: 28° 58.320´S 62° 09,193´O<br>
                                Teléfono: (0385) 4072151<br>
                                Contacto comercial: Luis Miliani, lmiliani@cofcointernational.com Cel: (0385) 15 4072151
                            </p>
                            <p>
                                <strong>Planta de Acopio Itín</strong><br>
                                Dirección: Ruta Provincial 5 – 2 Km. Al norte del acceso a Itín, Itín, Chaco (3733)<br>
                                Coordenada: 27° 27.681´S 61° 18.540¨O<br>
                                Teléfono: (03731) 456802<br>
                                Contacto comercial: Damián Dulce, damiandulce@cofcointernational.com <br>
                                Cel: (0362) 15 4356469
                            </p>
                            <p>
                                <strong>Planta de Acopio Balcarce</strong><br>
                                Dirección: Ruta 55 s/n<br>
                                Coordenada:<br>
                                Conmutador: 02266 43-2453<br>
                                Contacto comercial: Santiago Checchi, schechi@cofcointernational.com
                            </p>
                            <p>
                                <strong>Planta de Acopio Granada</strong><br>
                                Dirección: Pellegrini S/n, Coronel Granada, Buenos Aires<br>
                                Coordenada:<br>
                                Teléfono: (02356) 495-101 / 160 / 178 / 180<br>
                                Contacto comercial: Francisco Sánchez Terrero, fsanchezterrero@cofcointernational.com(02355) 15531014
                            </p>
                            <p>
                                <strong>Oficina de Acopio Lincoln</strong><br>
                                Dirección: Ruta 188 km 219, Lincoln, Buenos Aires<br>
                                Planta de Acopio Bayauca: Estación de Ferrocarril Bayauca<br>
                                Teléfono: 02355 414293/94/95<br>
                                Contacto comercial: Pablo Sere<br>
                                psere@cofcointernational.com
                            </p>
                            <p>
                                <strong>Planta de Acopio Victoria</strong><br>
                                Dirección: Blvd. Brown y Ruta 11, Victoria, Entre Ríos<br>
                                Coordenada:<br>
                                Teléfono: 03436 42-2975/6<br>
                                Contacto comercial: José  Luis Buzzi<br>
                                jbuzzi@cofcointernational.com
                            </p>
                            <p>
                                <strong>Oficina Trenque Lauquen</strong><br>
                                Dirección: Avenida Urquiza Nro. 844 piso PRIMERO unidad "B", B6400ENV Trenque Lauquen, Buenos Aires<br>
                                Coordenada:<br>
                                Teléfono: 02392 41-3821<br>
                                Contacto comercial: Martin Martínez, mmartinez@cofcointernational.com
                            </p>
                            <p>
                                <strong>Oficina y Depósito Villegas</strong><br>
                                Dirección: Ruta 188 km 363, Gral. Villegas, Buenos Aires<br>
                                Coordenada:<br>
                                Teléfono: 03388-15455225/455295/455380/455547<br>
                                Contacto comercial: Carlos Gonella, cgonella@cofcointernational.com<br>
                                Cel: 03388-15456209
                            </p>
                            <p>
                                <strong>Planta de Acopio Intendente Alvear</strong><br>
                                Dirección: Av. Sarmiento 1043, Int. Alvear La Pampa, Argentina<br>
                                Coordenada:<br>
                                Teléfono: 02302-481901/2/3/4 <br>
                                Contacto comercial: Hernán Suarez Rinaudo,hsuarezrinaudo@cofcointernational.com <br>
                                Cel: 02302-15457126
                            </p>
                            <p>
                                <strong>Planta de Acopio Ingeniero Luiggi</strong>
                                Dirección: Estanislao Ceballos 90, Ingeniero Luiggi, Dpto. Realicó, La Pampa.<br>
                                Coordenada: S 35° 22' 58,53"    O 64° 28' 27,98"<br>
                                Teléfono: 02302 15457133<br>
                                Contacto comercial: Iván J. <br>
                                Paggiipaggi@cofcointernational.com<br>
                                Cel: 02302 15457133
                            </p>
                            <p>
                                <strong>Planta de Acopio Curuzú Cuatiá</strong><br>
                                Dirección: Ruta Nacional 119 km 34.5 (3460), Curuzú Cuatiá, Prov de Corrientes<br>
                                Coordenada<br>
                                Teléfono: +54 3774 42 2306<br>
                                Contacto comercial: Santiago Moyano  smoyano@cofcointernational.com <br>
                                Cel: 3774 63 4991
                            </p>

                            <div class="sep"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

