
@{
    ViewBag.Title = "Financiamiento";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid int" id="content-negocios">
    <div class="caption-int">
        <h1>Ofrecemos <br>soluciones<br>innovadoras</h1>
        <p>en el comercio nacional <br>e internacional de granos, <br>oleaginosas y subproductos <br>de valor agregado.</p>
    </div>


    <div class=" wow fadeInRight" data-wow-delay="0" data-wow-duration="2s" id="content">
        <div class="row height-100">
            @Html.Partial("_Menu_int")

            <div class="scroll-content" id="financiamiento">
                <div class="row  display-flex">
                    <div class="col-subcontent negocios  wow fadeInRight" data-wow-delay="1s" data-wow-duration=".5s"><img src="~/Content/assets/img/icon-financiacion.png" class="img-responsive icon"></div>
                    <div class="col-content negocios wow fadeInRight" data-wow-delay=".5s" data-wow-duration=".5s">

                        <h2>#Financiamiento</h2>
                        <div class="block-content">
                            <p><strong>Aval Rural es la Sociedad de Garantía Recíproca, que con el respaldo de Cofco Intl, brinda soluciones a las PyMEs para facilitarles el acceso al crédito, con la finalidad de promover su crecimiento y competitividad.</strong></p>


                            <img src="~/Content/assets/img/pic-financiacion-1.jpg">
                        </div>
                        <div class="block-content">
                            <div class="content-float"><h1 class="frase">La SGR ofrece diferentes herramientas de financiación</h1></div>
                            <p>

                                Gracias a Aval Rural las PyMEs asociadas obtienen costos de financiamiento competitivos, alargamiento de plazos y mayores montos de crédito con menores requerimientos de garantías.
                            </p>
                            <p>
                                La SGR ofrece diferentes herramientas de financiación, en el sistema bancario a través de préstamos, como en el mercado de capitales a través de fideicomisos financieros, descuentos de cheques de pago diferido y pagarés, emisión de obligaciones negociables. Asimismo Aval Rural SGR también otorga avales frente a Matba, Rofex y sobre facturas.
                            </p>
                            <img src="~/Content/assets/img/pic-financiacion-2.jpg" class="pic">
                            <p>
                                <strong>Entre los beneficios de asociarse a Aval Rural, las PyMEs tienen la posibilidad de pertenecer a un centro de desarrollo empresarial liderado por una de las compañías más importantes de la agroindustria, como es Cofco Intl.</strong>
                            </p>
                            <p>
                                <strong>
                                    Contacto Comercial:<br>
                                    Oficina Buenos Aires:
                                </strong><br>
                                <strong>Teléfono:</strong> +54 11 4468 8000<br>
                                <strong>Mail:</strong> info@avalrural.com.ar<br>
                                http://www.avalrural.com.ar/
                            </p>
                            <img src="~/Content/assets/img/pic-financiacion-3.jpg">
                            <div class="sep"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

