
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="title-int" class="institucional">
    <div class="container-fluid no-padding">
        <h1>Pymes</h1>
    </div>
</section>
