
@{
    ViewBag.Title = "Harinas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid int" id="content-negocios">
    <div class="caption-int">
        <h1>Ofrecemos <br>soluciones<br>innovadoras</h1>
        <p>en el comercio nacional <br>e internacional de granos, <br>oleaginosas y subproductos <br>de valor agregado.</p>
    </div>


    <div class=" wow fadeInRight" data-wow-delay="0" data-wow-duration="2s" id="content">
        <div class="row height-100">
            @Html.Partial("_Menu_int")


            <div class="scroll-content" id="harinas">
                <div class="row  display-flex">
                    <div class="col-subcontent negocios  wow fadeInRight" data-wow-delay="1s" data-wow-duration=".5s"><img src="~/Content/assets/img/icon-harinas.png" class="img-responsive icon"></div>
                    <div class="col-content negocios wow fadeInRight" data-wow-delay=".5s" data-wow-duration=".5s">

                        <h2>#HarinasYBiodiesel</h2>
                        <div class="block-content">
                            <p>
                                Contamos con producción propia y abastecimiento de diversos productos desde nuestras tres plantas: Saforcada ubicada en la localidad de Junín, Pcia. de Buenos Aires; Puerto General San Martín y Timbúes, en Pcia.de Santa Fe.
                            </p>
                            <p>
                                <strong>
                                    Desde allí proveemos pellet de girasol hi-pro, pellet de cáscara de soja, harina de soja hi-pro y low-pro, aceites de soja y de girasol y lecitina de soja y girasol.
                                </strong>
                            </p>
                            <p>
                                Timbúes es una moderna planta de biodiesel, amigable con el medio ambiente que usa energía renovable y procesa más de 250.000 toneladas anuales de aceite de soja para producir biodiesel y glicerina de exportación.
                            </p>


                            <img src="~/Content/assets/img/pic-harinas-1.jpg" class="pic">
                        </div>
                        <div class="block-content">
                            <div class="content-float"><h1 class="frase">Timbúes procesa más de 250.000 toneladas anuales de aceite de soja para producir biodiesel y glicerina de exportación.</h1></div>
                            <h1>
                                En Cofco Intl Argentina
                                estamos comprometidos
                                con el país.
                            </h1>
                            <p>
                                Para Administración, Logística, manejo Portuario de Granos, Producción y Despacho de derivados de Soja. Producción y despacho de Biodiesel.
                            </p>
                            <p>Para Poroto de Soja, Maíz, Trigo, Harina de Soja Hi-pro, Pellet de cáscara de Soja, Gomas y Glicerina.</p>
                            <p>
                                <strong>Contacto Comercial harinas, pellets y lecitinas:  </strong><br>
                                Oficina Buenos Aires: Lucas Mascardi<br>
                                Teléfono: +5411 4468 8126<br>
                                Mail: lmascardi@cofcointernational.com
                            </p>
                            <p>
                                <strong>Contacto Comercial Glicerinas:  </strong><br>
                                Oficina Buenos Aires: Agustín Urquiza<br>
                                Teléfono: +5411 4468 8000<br>
                                Mail: aurquiza@cofcointernational.com
                            </p>
                            <p>
                                <strong>Contacto Comercial Biodiesel: </strong><br>
                                Oficina Buenos Aires: Tomás Noble<br>
                                Teléfono: +5411 4468 8000<br>
                                Mail: noble@cofcointernational.com
                            </p>
                            <img src="~/Content/assets/img/pic-harinas-2.jpg">
                            <div class="sep"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
