<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <table>
    <tr>
        <td>NOMBRE Y APELLIDO O RAZÓN SOCIAL</td>
        <td>{Nombre}</td>
        </tr>
        <tr>
            <td>CUIT / CUIL / CDI </td>
            <td>{cuit}</td>
        </tr>
        <!--<tr>
            <td>PROFESIÓN / OCUPACIÓN</td>
            <td>{profesion}</td>
        </tr>
        <tr>
            <td>ÚLTIMOS ESTUDIOS ALCANZADOS</td>
            <td>{estudios}</td>
        </tr>-->

        <tr>
            <td>DOMICILIO</td>
            <td>{domicilio}</td>
        </tr>
        <tr>
            <td>TELÉFONO DE CONTACTO</td>
            <td>{telefono}</td>
        </tr>
        <tr>
            <td>E-MAIL</td>
            <td>{email}</td>
        </tr>
        
    </table>
</body>
</html>