

@{
    ViewBag.Title = "Novedades";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-fluid int" id="content-novedades">
    <div class="caption-int">
        <h1>Ofrecemos <br>soluciones<br>innovadoras</h1>
        <p>en el comercio nacional <br>e internacional de granos, <br>oleaginosas y subproductos <br>de valor agregado.</p>
    </div>

    <div class=" wow fadeInRight" data-wow-delay="0" data-wow-duration="2s" id="content">
        <div class="row height-100">
            <div class="col-md-3 col-submenu wow fadeInRight" data-wow-delay="1.5s" data-wow-duration=".5s">
                <h3>Novedades</h3>
                     @using (Html.BeginForm("Resultados", "Novedades", FormMethod.Post, new { name = "createNovedades", id = "createNovedades", enctype = "multipart/form-data" }))
                     {
                         <select class="form-control" id="anio">
                        <option>Año</option>
                        <option value="2018">2018</option>
                        <option value="2018">2017</option>
                        <option value="2018">2016</option>
                    </select>
                    <select class="form-control" id="mes">
                        <option>Mes</option>
                        <option value="01">Enero</option>
                        <option value="02">Febrero</option>
                        <option value="03">Febrero</option>
                        <option value="04">Abril</option>
                        <option value="05">Mayo</option>
                        <option value="06">Junio</option>
                        <option value="07">Julio</option>
                        <option value="08">Agosto</option>
                        <option value="09">Septiembre</option>
                        <option value="10">Octubre</option>
                        <option value="11">Noviembre</option>
                        <option value="12">Diciembre</option>
                    </select>
                    <input type="text" placeholder="Buscar" id="buscar" class="form-control">
                    <button id="search">
                        <i class="fa fa-search"></i>
                    </button>

}

            </div>



            <div class="scroll-content " id="novedades">
                <div class="row  display-flex">
                    <div class="col-content full wow fadeInRight" data-wow-delay=".5s" data-wow-duration=".5s">
                        <h2>#NovedadesCofcoIntlArg</h2>
                        <p><strong>Compartimos las principales  noticias y novedades sobre nuestros productos, eventos e información técnica, con el objetivo de mantenerte informado sobre las actividades de Cofco Intl Arg.</strong></p>
                        <div class="row nota">
                            <div class="col-md-6"><img src="~/Content/assets/img/pic-blog.jpg" class="img-responsive"></div>
                            <div class="col-md-6">
                                <h5>10/10/2017</h5>
                                <h4>El maíz tardío potencia el desafío de las malezas</h4>
                                <p>Recomiendan integrar técnicas y modos de acción a fin de obtener los mejores resultados en toda la rotación.</p>
                                <a href="nota.html" class="btn">Ver detalle</a>
                            </div>
                        </div>
                        <div class="row nota">

                            <div class="col-md-6">
                                <h5>10/10/2017</h5>
                                <h4>El maíz tardío potencia el desafío de las malezas</h4>
                                <p>Recomiendan integrar técnicas y modos de acción a fin de obtener los mejores resultados en toda la rotación.</p>
                                <a href="nota.html" class="btn">Ver detalle</a>
                            </div>
                            <div class="col-md-6"><img src="~/Content/assets/img/pic-blog.jpg" class="img-responsive"></div>
                        </div>
                        <div class="row nota">
                            <div class="col-md-6"><img src="~/Content/assets/img/pic-blog.jpg" class="img-responsive"></div>
                            <div class="col-md-6">
                                <h5>10/10/2017</h5>
                                <h4>El maíz tardío potencia el desafío de las malezas</h4>
                                <p>Recomiendan integrar técnicas y modos de acción a fin de obtener los mejores resultados en toda la rotación.</p>
                                <a href="nota.html" class="btn">Ver detalle</a>
                            </div>
                        </div>
                        <div class="sep"></div>
                        <a href="#" class="resultados">Más noticias</a>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>