
@{
    ViewBag.Title = "Sustentabilidad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid int" id="content-sustentabilidad">
    <div class="caption-int">
        <h1>Ofrecemos <br>soluciones<br>innovadoras</h1>
        <p>en el comercio nacional <br>e internacional de granos, <br>oleaginosas y subproductos <br>de valor agregado.</p>
    </div>


    <div class=" wow fadeInRight" data-wow-delay="0" data-wow-duration="2s" id="content">
        <div class="row height-100">
            <div class="col-submenu wow fadeInRight" data-wow-delay="1.5s" data-wow-duration=".5s">
                <h3>Sustentabilidad </h3>
                <ul class="submenu-sustentabilidad">
                    <li>
                        <a href="#estandares" class=" scroll">

                            <i class="fa fa-flag-o "></i>
                            <span>Proteger los Estándares</span>
                        </a>
                    </li>
                    <li>
                        <a href="#gente" class=" scroll"><i class="fa fa-users "></i><span>Nuestra Gente</span></a>
                    </li>
                    <li>
                        <a href="#cadena" class="scroll"><i class="fa fa-link "></i><span>Cadena de Valor</span></a>
                    </li>
                    <li>
                        <a href="#ambiente" class=" scroll"><i class="fa fa-globe "></i><span>Medio Ambiente</span></a>
                    </li>
                    <li>
                        <a href="#comunidad" class="scroll"><i class="fa fa-thumbs-o-up "></i><span>Comunidad</span></a>
                    </li>


                </ul>
            </div>
            <div class="scroll-content" id="sustentabilidad">
                <div class="row  display-flex">
                    <div class="col-subcontent negocios  wow fadeInRight" data-wow-delay="1s" data-wow-duration=".5s"><img src="~/Content/assets/img/icon-sustentabilidad.png" class="img-responsive icon"></div>
                    <div class="col-content negocios wow fadeInRight" data-wow-delay=".5s" data-wow-duration=".5s">

                        <h2>#Sustentabilidad</h2>
                        <div class="block-content">

                            <p>
                                Pensar en el futuro significa, para nosotros, trabajar hoy de una manera responsable y sostenible.
                            </p>
                            <p>
                                <strong>Estamos convencidos de que nuestro éxito depende de un sólido desempeño económico, social y ambiental, con esta triple creación de valor como clave para la rentabilidad a largo plazo.</strong>
                            </p>
                            <p>
                                Nuestro plan de sustentabilidad se centra en atender cinco objetivos estratégicos:
                            </p>
                        </div>
                        <div class="block-content sustentabilidad" id="estanderes">
                            <div class="content-float wow fadeIn" data-wow-delay="1.5s" data-wow-duration=".5s">
                                <i class="fa fa-flag-o" aria-hidden="true"></i>
                            </div>
                            <h3>Proteger los Estándares</h3>
                            <p>
                                Nos esforzamos día a día para equilibrar los objetivos del Grupo con las responsabilidades legales, ambientales y sociales mediante el cumplimiento de las leyes y reglamentos aplicables, la transparencia y productos seguros y de calidad garantizada.
                            </p>
                            <img src="~/Content/assets/img/pic-sustentabilidad-1.jpg" class="pic">
                        </div>
                        <div class="block-content sustentabilidad" id="gente">
                            <div class="content-float"><i class="fa fa-users" aria-hidden="true"></i></div>
                            <h3>Nuestra Gente</h3>
                            <p>
                                Capacitamos a nuestra gente para que sea el motor de nuestro Grupo, respetando sus derechos, proporcionando un ambiente de trabajo seguro y saludable, atrayendo a las personas adecuadas para los empleos adecuados y ofreciendo a los empleados oportunidades para maximizar su potencial.
                            </p>
                            <img src="~/Content/assets/img/pic-sustentabilidad-2.jpg" class="pic">
                        </div>
                        <div class="block-content sustentabilidad" id="cadena">
                            <div class="content-float"><i class="fa fa-link" aria-hidden="true"></i></div>
                            <h3>Cadena de Valores</h3>
                            <p>
                                Nos esforzamos en crear soluciones responsables e innovadoras para garantizar el suministro mundial de alimentos en el futuro. Y para cumplir este desafío, tenemos que trabajar juntos, aumentando la productividad agrícola a través de la innovación responsable y administrando nuestras cadenas de suministro de una manera eficiente y responsable que nos permite conectar mejor la oferta y la demanda.
                            </p>

                            <img src="~/Content/assets/img/pic-sustentabilidad-3.jpg" class="pic">

                        </div>
                        <div class="block-content sustentabilidad" id="ambiente">
                            <div class="content-float"><i class="fa fa-globe" aria-hidden="true"></i></div>
                            <h3>Medio Ambiente</h3>
                            <p>Estamos comprometidos a reducir nuestro impacto ambiental de una manera ambientalmente responsable. Nuestros sistemas de gestión ambiental se implementan de acuerdo con estándares internacionalmente reconocidos, como ISO 14001. Monitoreamos anualmente para implementar proyectos energéticamente eficientes para reducir nuestra huella.</p>
                            <img src="~/Content/assets/img/pic-sustentabilidad-4.jpg" class="pic">


                        </div>
                        <div class="block-content sustentabilidad last" id="comunidad">
                            <div class="content-float"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
                            <h3>Comunidad</h3>
                            <p>
                                Creemos en apoyar y crecer en conjunto con nuestras comunidades vecinas. Lo hacemos mediante la implementación de programas de participación comunitaria basados en las necesidades de cada caso. <br>
                                Nuestras operaciones diarias generan empleo, impulsan el crecimiento económico e impactanen el sustento de las comunidades locales. Comprender sus necesidades y preocupaciones a través del diálogo es un componente crucial de nuestro compromiso con la sostenibilidad y la actividad a largo plazo de nuestro negocio.

                            </p>


                            <div class="block-content ">
                                <div class="content-float"><img src="~/Content/assets/img/pic-sustentabilidad-5.png" class="img-responsive"></div>

                                <p>
                                    Con la creación de <strong>Agricultura Consciente</strong> propusimos un programa de Capacitaciones online para que productores y público en general pueda acceder a información de relevancia sobre cómo encarar un plan de producción bajo las Buenas Prácticas Agrícolas:<br>
                                    http://www.agriculturaconsciente.com/
                                </p>

                            </div>
                            <div class="block-content ">
                                <div class="content-float"><img src="~/Content/assets/img/pic-sustentabilidad-6.png" class="img-responsive"></div>

                                <p>
                                    Desde hace diez años, el Concurso <strong>“¿Qué Hay de Nuevo en mi Suelo?”</strong> acerca a las Escuelas Agrotécnicas de todo el país, un certamen donde los alumnos compiten desarrollando ensayos con diferentes cultivos para aprender en distintas instancias, la importancia de valorar elcuidado del suelo: http://www.qhdn.com.ar/

                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
