@{
    ViewBag.Title = "Error en la Aplicacion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="title-int" class="marco-regulatorio">
    <div class="container-fluid no-padding">
        <h1>Ha Ocurrido un Error en la Aplicacion</h1>
    </div>
</section>
<section id="content">
    <div class="container">

        <div class="col-sm-12">
        </div>
    </div>
</section>


