
@{
    ViewBag.Title = "Aceites";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid int" id="content-negocios">
    <div class="caption-int">
        <h1>Ofrecemos <br>soluciones<br>innovadoras</h1>
        <p>en el comercio nacional <br>e internacional de granos, <br>oleaginosas y subproductos <br>de valor agregado.</p>
    </div>


    <div class=" wow fadeInRight" data-wow-delay="0" data-wow-duration="2s" id="content">
        <div class="row height-100">
            @Html.Partial("_Menu_int")

            <div class="scroll-content" id="aceites">
                <div class="row  display-flex">
                    <div class="col-subcontent negocios  wow fadeInRight" data-wow-delay="1s" data-wow-duration=".5s"><img src="~/Content/assets/img/icon-aceites.png" class="img-responsive icon"></div>
                    <div class="col-content negocios wow fadeInRight" data-wow-delay=".5s" data-wow-duration=".5s">

                        <h2>#AceitesRefinados</h2>
                        <div class="block-content">
                            <p>
                                <strong>
                                    Somos el mayor exportador argentino de aceite
                                    refinado comestible.
                                </strong>
                            </p>
                            <p>
                                <strong>
                                    Nuestra planta de refinación, fraccionamiento y distribución de Valentín Alsina produce aceites comestibles de girasol, maíz, soja y mezclas destinados al mercado de consumo masivo.
                                </strong>
                            </p>


                            <img src="~/Content/assets/img/pic-aceites-1.jpg" class="pic">
                        </div>
                        <div class="block-content">
                            <div class="content-float"><h1 class="frase">Somos el principal exportador argentino de aceite refinado envasado.</h1></div>
                            <p>

                                También, fabricamos y comercializamos aceites vegetales refinados a granel para usos industriales, tales como la producción de pinturas, barnices y polímeros plásticos respetuosos del medio ambiente.
                            </p>
                            <p>
                                Tenemos el orgullo de ser el principal exportador argentino de aceite refinado envasado listo para el consumo y nuestros productos están presentes en numerosos mercados del mundo.
                            </p>

                            <h3>Nuestras marcas</h3><p>

                                <img src="~/Content/assets/img/pic-aceites-2.jpg">
                            <p>
                                <strong>Dirección Valentín Alsina: </strong> <br>Carlos Pellegrini 4370, 1822 Valentín Alsina, Buenos Aires.
                            </p>
                            <p>
                                <strong>Contacto Comercial:</strong><br>
                                Tel: +54 11 4135 7700<br>
                                Mail: Legitimo@cofcointernational.com

                            </p>

                            <div class="sep"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
