
@{
    ViewBag.Title = "Mas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link type="text/css" href="~/Content/assets/css/registros-publicos.css" rel="stylesheet">

<section id="title-int" class="registros-publicos">
    <div class="container-fluid no-padding">
        <h1>Registros Públicos</h1>
        <p>
            Encontrá aquí información pública sobre agentes intermediarios  e
            infraestructura del mercado de capitales, autorizados y registrados en CNV.
        </p>
    </div>
</section>
<section id="content">

    <div class="container">

        <div class="panel-group wrap accordion" id="accordionb" role="tablist" aria-multiselectable="true">
            <div class="panel">
                <div class="panel-heading" role="tab" id="headingb1">
                    <h4 class="panel-title center-title"><a href="registros-publicos.html" class="btn-blue back"><i class="fa fa-caret-left"></i> VOLVER</a><a role="button" data-toggle="collapse" data-parent="#accordionb" href="#collapseb1" aria-expanded="true" aria-controls="collapseb1" class=""> <strong>AGENTES</strong></a> </h4>
                </div>
                <div id="collapseb1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="heading1" aria-expanded="true" style="">
                    <div class="panel-body  bg-gray">
                        <h1 class="gray">ALLARIA LEDESMA & CIA S.A.<small>(AGENTE PRODUCTOR)</small></h1>

                        <div id="exTab1" class="">
                            <ul class="nav nav-pills">
                                <li class="active"> <a href="#1a" data-toggle="tab"><span>INFORMACIÓN GENERAL</span></a> </li>
                                <li><a href="#2a" data-toggle="tab"><span>INFORMACIÓN FINANCIERA</span></a> </li>
                                <li><a href="#3a" data-toggle="tab"><span>INSCRIPCIONES</span></a> </li>
                                <li><a href="#4a" data-toggle="tab"><span>TOMA DE NOTAS</span></a> </li>
                            </ul>
                            <div class="tab-content resultados-ver-mas clearfix">
                                <div class="tab-pane active" id="1a">
                                    <div class="panel-group wrap accordion" id="inneraccordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="innerheading1">
                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#inneraccordion" href="#innercollapse1" aria-expanded="true" aria-controls="innercollapse1"><span class="titulo">PÁGINA WEB</span></a> </h4>
                                            </div>
                                            <div id="innercollapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="innerheading1">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="innerheading2">
                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#inneraccordion" href="#innercollapse2" aria-expanded="true" aria-controls="innercollapse2"><span class="titulo">FECHA DE CIERRE DE EJERCICIOS</span></a> </h4>
                                            </div>
                                            <div id="innercollapse2" class="panel-collapse collapse " role="tabpanel" aria-labelledby="innerheading2">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="innerheading3">
                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#inneraccordion" href="#innercollapse3" aria-expanded="true" aria-controls="innercollapse1"><span class="titulo">REDES SOCIALES</span></a> </h4>
                                            </div>
                                            <div id="innercollapse3" class="panel-collapse collapse " role="tabpanel" aria-labelledby="innerheading3">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="innerheading4">
                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#inneraccordion" href="#innercollapse4" aria-expanded="true" aria-controls="innercollapse4"><span class="titulo">DOMICILIOS</span></a> </h4>
                                            </div>
                                            <div id="innercollapse4" class="panel-collapse collapse " role="tabpanel" aria-labelledby="innerheading4">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="innerheading5">
                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#inneraccordion" href="#innercollapse5" aria-expanded="true" aria-controls="innercollapse5"><span class="titulo">DATOS REGISTRO PÚBLICO DE COMERCIO </span></a> </h4>
                                            </div>
                                            <div id="innercollapse5" class="panel-collapse collapse " role="tabpanel" aria-labelledby="innerheading5">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="innerheading6">
                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#inneraccordion" href="#innercollapse6" aria-expanded="true" aria-controls="innercollapse6"><span class="titulo">MEMBRESÍAS</span> </a> </h4>
                                            </div>
                                            <div id="innercollapse6" class="panel-collapse collapse " role="tabpanel" aria-labelledby="innerheading6">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="innerheading7">
                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#inneraccordion" href="#innercollapse7" aria-expanded="true" aria-controls="innercollapse7"><span class="titulo">ÚLTIMOS CARGOS  DECLARADOS</span> </a> </h4>
                                            </div>
                                            <div id="innercollapse7" class="panel-collapse collapse " role="tabpanel" aria-labelledby="innerheading7">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="tab-pane" id="2a">
                                    <div class="panel-group wrap accordion level0" id="tab2inneraccordion" role="tablist" aria-multiselectable="true">
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="tab2innerheading1">
                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2inneraccordion" href="#tab2innercollapse1" aria-expanded="true" aria-controls="tab2innercollapse1"><span class="titulo">ÚLTIMA INFORMACIÓN RECIBIDA</span></a> </h4>
                                            </div>
                                            <div id="tab2innercollapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="tab2innerheading1">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="tab2innerheading2">
                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2inneraccordion" href="#tab2innercollapse2" aria-expanded="true" aria-controls="tab2innercollapse2"><span class="titulo">HECHOS RELEVANTES</span></a> </h4>
                                            </div>
                                            <div id="tab2innercollapse2" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2innerheading2">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="tab2innerheading3">
                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2inneraccordion" href="#tab2innercollapse3" aria-expanded="true" aria-controls="tab2innercollapse1"><span class="titulo">INFORMACIÓN SOCIETARIA</span></a> </h4>
                                            </div>
                                            <div id="tab2innercollapse3" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2innerheading3">
                                                <div class="panel-body">
                                                    <div class="panel-group wrap accordion" id="tab2sub1inneraccordion" role="tablist" aria-multiselectable="true">
                                                        <div class="panel">
                                                            <div class="panel-heading" role="tab" id="tab2sub1innerheading1">
                                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2sub1inneraccordion" href="#tab2sub1innercollapse1" aria-expanded="true" aria-controls="tab2sub1innercollapse1"><span class="titulo">ESTATUTO SOCIAL VIGENTE</span></a> </h4>
                                                            </div>
                                                            <div id="tab2sub1innercollapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="tab2sub1innerheading1">
                                                                <div class="panel-body">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="panel-heading" role="tab" id="tab2sub1innerheading2">
                                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2sub1inneraccordion" href="#tab2sub1innercollapse2" aria-expanded="true" aria-controls="tab2sub1innercollapse2"><span class="titulo">SEDE SOCIAL</span></a> </h4>
                                                            </div>
                                                            <div id="tab2sub1innercollapse2" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2sub1innerheading2">
                                                                <div class="panel-body">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="panel-heading" role="tab" id="tab2sub1innerheading3">
                                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2sub1inneraccordion" href="#tab2sub1innercollapse3" aria-expanded="true" aria-controls="tab2sub1innercollapse1"><span class="titulo">SUCURSALES</span></a> </h4>
                                                            </div>
                                                            <div id="tab2sub1innercollapse3" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2sub1innerheading3">
                                                                <div class="panel-body">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="panel-heading" role="tab" id="tab2sub1innerheading4">
                                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2sub1inneraccordion" href="#tab2sub1innercollapse4" aria-expanded="true" aria-controls="tab2sub1innercollapse4"><span class="titulo">ORGANIGRAMA</span></a> </h4>
                                                            </div>
                                                            <div id="tab2sub1innercollapse4" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2sub1innerheading4">
                                                                <div class="panel-body">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="panel-heading" role="tab" id="tab2sub1innerheading5">
                                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2sub1inneraccordion" href="#tab2sub1innercollapse5" aria-expanded="true" aria-controls="tab2sub1innercollapse5"><span class="titulo">NÓMINAS</span></a> </h4>
                                                            </div>
                                                            <div id="tab2sub1innercollapse5" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2sub1innerheading5">
                                                                <div class="panel-body">
                                                                    <div class="box-mercado"><h2>NÓMINA MIEMBROS ÓRGANO ADMINISTRACIÓN</h2><a href="#" class="btn-pdf"><img src="assets/img/pdf.png"></a></div>
                                                                    <div class="box-mercado"><h2>NÓMINA MIEMBROS ÓRGANO FISCALIZACI{ON</h2><a href="#" class="btn-pdf"><img src="assets/img/pdf.png"></a></div>
                                                                    <div class="box-mercado"><h2>NÓMINA GERENTES</h2><a href="#" class="btn-pdf"><img src="assets/img/pdf.png"></a></div>
                                                                    <div class="box-mercado"><h2>NÓMINA APODERADOS</h2><a href="#" class="btn-pdf"><img src="assets/img/pdf.png"></a></div>
                                                                    <div class="box-mercado"><h2>AUDITOR EXTERNO</h2><a href="#" class="btn-pdf"><img src="assets/img/pdf.png"></a></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="panel-heading" role="tab" id="tab2sub1innerheading6">
                                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2sub1inneraccordion" href="#tab2sub1innercollapse6" aria-expanded="true" aria-controls="tab2sub1innercollapse6"><span class="titulo">CERTIFICADOS Y DECLARACIONES JURADAS</span> </a> </h4>
                                                            </div>
                                                            <div id="tab2sub1innercollapse6" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2sub1innerheading6">
                                                                <div class="panel-body">
                                                                    <div class="box-mercado"><h2>DD INCOMPATIBILIDADES</h2><a href="#" class="btn-pdf"><img src="assets/img/pdf.png"></a></div>
                                                                    <div class="box-mercado"><h2>DDJJ UIF</h2><a href="#" class="btn-pdf"><img src="assets/img/pdf.png"></a></div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="tab2innerheading4">
                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2inneraccordion" href="#tab2innercollapse4" aria-expanded="true" aria-controls="tab2innercollapse4"><span class="titulo">ACTAS SOCIETARIAS</span></a> </h4>
                                            </div>
                                            <div id="tab2innercollapse4" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2innerheading4">
                                                <div class="panel-body">
                                                    <div class="panel-group wrap accordion" id="tab2sub2inneraccordion" role="tablist" aria-multiselectable="true">
                                                        <div class="panel">
                                                            <div class="panel-heading" role="tab" id="tab2sub2innerheading1">
                                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2sub2inneraccordion" href="#tab2sub2innercollapse1" aria-expanded="true" aria-controls="tab2sub2innercollapse1"><span class="titulo">Actas Órgano de Administración</span></a> </h4>
                                                            </div>
                                                            <div id="tab2sub2innercollapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="tab2sub2innerheading1">
                                                                <div class="panel-body">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="panel-heading" role="tab" id="tab2sub2innerheading2">
                                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2sub2inneraccordion" href="#tab2sub2innercollapse2" aria-expanded="true" aria-controls="tab2sub2innercollapse2"><span class="titulo">Actas de Asambleas</span></a> </h4>
                                                            </div>
                                                            <div id="tab2sub2innercollapse2" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2sub2innerheading2">
                                                                <div class="panel-body">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="panel-heading" role="tab" id="tab2sub2innerheading3">
                                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2sub2inneraccordion" href="#tab2sub2innercollapse3" aria-expanded="true" aria-controls="tab2sub2innercollapse1"><span class="titulo">Actas Comisión Fiscalizadora</span></a> </h4>
                                                            </div>
                                                            <div id="tab2sub2innercollapse3" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2sub2innerheading3">
                                                                <div class="panel-body">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="panel-heading" role="tab" id="tab2sub2innerheading4">
                                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2sub2inneraccordion" href="#tab2sub2innercollapse4" aria-expanded="true" aria-controls="tab2sub2innercollapse4"><span class="titulo">Actas del Comité de Auditoría</span></a> </h4>
                                                            </div>
                                                            <div id="tab2sub2innercollapse4" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2sub2innerheading4">
                                                                <div class="panel-body">

                                                                </div>
                                                            </div>
                                                        </div>



                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="tab2innerheading5">
                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2inneraccordion" href="#tab2innercollapse5" aria-expanded="true" aria-controls="tab2innercollapse5"><span class="titulo">INFORMACIÓN FINANCIERA </span></a> </h4>
                                            </div>
                                            <div id="tab2innercollapse5" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2innerheading5">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="tab2innerheading6">
                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2inneraccordion" href="#tab2innercollapse6" aria-expanded="true" aria-controls="tab2innercollapse6"><span class="titulo">NORMATIVA</span> </a> </h4>
                                            </div>
                                            <div id="tab2innercollapse6" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2innerheading6">
                                                <div class="panel-body">
                                                    <div class="panel-group wrap accordion" id="tab2sub3inneraccordion" role="tablist" aria-multiselectable="true">
                                                        <div class="panel">
                                                            <div class="panel-heading" role="tab" id="tab2sub3innerheading1">
                                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2sub3inneraccordion" href="#tab2sub3innercollapse1" aria-expanded="true" aria-controls="tab2sub3innercollapse1"><span class="titulo">Reglamentos vigentes</span></a> </h4>
                                                            </div>
                                                            <div id="tab2sub3innercollapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="tab2sub3innerheading1">
                                                                <div class="panel-body">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="panel-heading" role="tab" id="tab2sub3innerheading2">
                                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2sub3inneraccordion" href="#tab2sub3innercollapse2" aria-expanded="true" aria-controls="tab2sub3innercollapse2"><span class="titulo">Normativa vigente</span></a> </h4>
                                                            </div>
                                                            <div id="tab2sub3innercollapse2" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2sub3innerheading2">
                                                                <div class="panel-body">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="panel-heading" role="tab" id="tab2sub3innerheading3">
                                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2sub3inneraccordion" href="#tab2sub3innercollapse3" aria-expanded="true" aria-controls="tab2sub3innercollapse1"><span class="titulo">Reglamento para Otorgamiento de Membresía</span></a> </h4>
                                                            </div>
                                                            <div id="tab2sub3innercollapse3" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2sub3innerheading3">
                                                                <div class="panel-body">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="panel-heading" role="tab" id="tab2sub3innerheading4">
                                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2sub3inneraccordion" href="#tab2sub3innercollapse4" aria-expanded="true" aria-controls="tab2sub3innercollapse4"><span class="titulo">Reglamento de Precalificación</span></a> </h4>
                                                            </div>
                                                            <div id="tab2sub3innercollapse4" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2sub3innerheading4">
                                                                <div class="panel-body">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="panel-heading" role="tab" id="tab2sub3innerheading5">
                                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2sub3inneraccordion" href="#tab2sub3innercollapse5" aria-expanded="true" aria-controls="tab2sub3innercollapse5"><span class="titulo">Reglamento de Tribunales Arbitrales</span></a> </h4>
                                                            </div>
                                                            <div id="tab2sub3innercollapse5" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2sub3innerheading5">
                                                                <div class="panel-body">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="panel-heading" role="tab" id="tab2sub3innerheading6">
                                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2sub3inneraccordion" href="#tab2sub3innercollapse6" aria-expanded="true" aria-controls="tab2sub3innercollapse6"><span class="titulo">Contratos de Derivados Listados</span> </a> </h4>
                                                            </div>
                                                            <div id="tab2sub3innercollapse6" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2sub3innerheading6">
                                                                <div class="panel-body">

                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="tab2innerheading7">
                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2inneraccordion" href="#tab2innercollapse7" aria-expanded="true" aria-controls="tab2innercollapse7"><span class="titulo">INFORMACIÓN AL PÚBLICO INVERSOR</span> </a> </h4>
                                            </div>
                                            <div id="tab2innercollapse7" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2innerheading7">
                                                <div class="panel-body">
                                                    <div class="panel-group wrap accordion" id="tab2sub4inneraccordion" role="tablist" aria-multiselectable="true">
                                                        <div class="panel">
                                                            <div class="panel-heading" role="tab" id="tab2sub4innerheading1">
                                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2sub4inneraccordion" href="#tab2sub4innercollapse1" aria-expanded="true" aria-controls="tab2sub4innercollapse1"><span class="titulo">Reglamentos vigentes</span></a> </h4>
                                                            </div>
                                                            <div id="tab2sub4innercollapse1" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="tab2sub4innerheading1">
                                                                <div class="panel-body">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="panel-heading" role="tab" id="tab2sub4innerheading2">
                                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2sub4inneraccordion" href="#tab2sub4innercollapse2" aria-expanded="true" aria-controls="tab2sub4innercollapse2"><span class="titulo">Normativa vigente</span></a> </h4>
                                                            </div>
                                                            <div id="tab2sub4innercollapse2" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2sub4innerheading2">
                                                                <div class="panel-body">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="panel-heading" role="tab" id="tab2sub4innerheading3">
                                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2sub4inneraccordion" href="#tab2sub4innercollapse3" aria-expanded="true" aria-controls="tab2sub4innercollapse1"><span class="titulo">Reglamento para Otorgamiento de Membresía</span></a> </h4>
                                                            </div>
                                                            <div id="tab2sub4innercollapse3" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2sub4innerheading3">
                                                                <div class="panel-body">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="panel-heading" role="tab" id="tab2sub4innerheading4">
                                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2sub4inneraccordion" href="#tab2sub4innercollapse4" aria-expanded="true" aria-controls="tab2sub4innercollapse4"><span class="titulo">Reglamento de Precalificación</span></a> </h4>
                                                            </div>
                                                            <div id="tab2sub4innercollapse4" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2sub4innerheading4">
                                                                <div class="panel-body">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="panel-heading" role="tab" id="tab2sub4innerheading5">
                                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2sub4inneraccordion" href="#tab2sub4innercollapse5" aria-expanded="true" aria-controls="tab2sub4innercollapse5"><span class="titulo">Reglamento de Tribunales Arbitrales</span></a> </h4>
                                                            </div>
                                                            <div id="tab2sub4innercollapse5" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2sub4innerheading5">
                                                                <div class="panel-body">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="panel-heading" role="tab" id="tab2sub4innerheading6">
                                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2sub4inneraccordion" href="#tab2sub4innercollapse6" aria-expanded="true" aria-controls="tab2sub4innercollapse6"><span class="titulo">Contratos de Derivados Listados</span> </a> </h4>
                                                            </div>
                                                            <div id="tab2sub4innercollapse6" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2sub4innerheading6">
                                                                <div class="panel-body">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="panel-heading" role="tab" id="tab2sub4innerheading7">
                                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2sub4inneraccordion" href="#tab2sub4innercollapse7" aria-expanded="true" aria-controls="tab2sub4innercollapse7"><span class="titulo">Reglamento de Tribunales Arbitrales</span> </a> </h4>
                                                            </div>
                                                            <div id="tab2sub4innercollapse7" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2sub4innerheading7">
                                                                <div class="panel-body">

                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="panel">
                                                            <div class="panel-heading" role="tab" id="tab2sub4innerheading8">
                                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2sub4inneraccordion" href="#tab2sub4innercollapse8" aria-expanded="true" aria-controls="tab2sub4innercollapse8"><span class="titulo">Contratos de Derivados Listados</span> </a> </h4>
                                                            </div>
                                                            <div id="tab2sub4innercollapse8" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2sub4innerheading8">
                                                                <div class="panel-body">

                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="tab2innerheading8">
                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#tab2inneraccordion" href="#tab2innercollapse8" aria-expanded="true" aria-controls="tab2innercollapse8"><span class="titulo">VOLUMEN OPERADO</span> </a> </h4>
                                            </div>
                                            <div id="tab2innercollapse8" class="panel-collapse collapse " role="tabpanel" aria-labelledby="tab2innerheading8">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="3a">
                                    <div class="panel-group wrap accordion" id="inneraccordionb" role="tablist" aria-multiselectable="true">
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="innerheading1b">
                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#inneraccordionb" href="#innercollapse1b" aria-expanded="true" aria-controls="innercollapse1b"><span class="titulo">MATRÍCULA</span></a> </h4>
                                            </div>
                                            <div id="innercollapse1b" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="innerheading1b">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="innerheading2b">
                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#inneraccordionb" href="#innercollapse2b" aria-expanded="true" aria-controls="innercollapse2b"><span class="titulo">CATEGORÍA</span></a> </h4>
                                            </div>
                                            <div id="innercollapse2b" class="panel-collapse collapse " role="tabpanel" aria-labelledby="innerheading2b">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="innerheading3b">
                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#inneraccordionb" href="#innercollapse3b" aria-expanded="true" aria-controls="innercollapse1b"><span class="titulo">RESOLUCIÓN DE LA CNV SOBRE INSCRIPCIÓN</span></a> </h4>
                                            </div>
                                            <div id="innercollapse3b" class="panel-collapse collapse " role="tabpanel" aria-labelledby="innerheading3b">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="innerheading4b">
                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#inneraccordionb" href="#innercollapse4b" aria-expanded="true" aria-controls="innercollapse4b"><span class="titulo">RESOLUCIÓN DE LA CNV SOBRE CANCELACIÓN</span></a> </h4>
                                            </div>
                                            <div id="innercollapse4b" class="panel-collapse collapse " role="tabpanel" aria-labelledby="innerheading4b">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="innerheading5b">
                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#inneraccordionb" href="#innercollapse5b" aria-expanded="true" aria-controls="innercollapse5b"><span class="titulo">ALTA SUSPENSIÓN </span></a> </h4>
                                            </div>
                                            <div id="innercollapse5b" class="panel-collapse collapse " role="tabpanel" aria-labelledby="innerheading5b">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="innerheading6b">
                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#inneraccordionb" href="#innercollapse6b" aria-expanded="true" aria-controls="innercollapse6b"><span class="titulo">BAJA SUSPENSIÓN</span> </a> </h4>
                                            </div>
                                            <div id="innercollapse6b" class="panel-collapse collapse " role="tabpanel" aria-labelledby="innerheading6b">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="innerheading7b">
                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#inneraccordionb" href="#innercollapse7b" aria-expanded="true" aria-controls="innercollapse7b"><span class="titulo">MODIFICACIÓN A LA CATEGORÍA</span> </a> </h4>
                                            </div>
                                            <div id="innercollapse7b" class="panel-collapse collapse " role="tabpanel" aria-labelledby="innerheading7b">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="innerheading8b">
                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#inneraccordionb" href="#innercollapse8b" aria-expanded="true" aria-controls="innercollapse8b"><span class="titulo">MODIFICACIÓN A LA DENOMINACIÓN</span> </a> </h4>
                                            </div>
                                            <div id="innercollapse8b" class="panel-collapse collapse " role="tabpanel" aria-labelledby="innerheading8b">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="innerheading9b">
                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#inneraccordionb" href="#innercollapse9b" aria-expanded="true" aria-controls="innercollapse9b"><span class="titulo">INSTRUMENTO CONSTITUTIVO</span> </a> </h4>
                                            </div>
                                            <div id="innercollapse9b" class="panel-collapse collapse " role="tabpanel" aria-labelledby="innerheading9b">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel">
                                            <div class="panel-heading" role="tab" id="innerheading10b">
                                                <h4 class="panel-title"> <a role="button" data-toggle="collapse" data-parent="#inneraccordionb" href="#innercollapse10b" aria-expanded="true" aria-controls="innercollapse10b"><span class="titulo">DEMÁS DATOS REQUERIDOS POR LA CNV</span> </a> </h4>
                                            </div>
                                            <div id="innercollapse10b" class="panel-collapse collapse " role="tabpanel" aria-labelledby="innerheading10b">
                                                <div class="panel-body">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="4a">


                                </div>
                                <a href="registros-publicos.html" class="btn-celeste center-btn	">VOLVER</a>
                            </div>

                        </div>

                    </div>

                </div>

            </div>


        </div>

    </div>
</section>
@Html.Partial("_Nav_int_Institucional")


